# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
www/node_modules


Firetable/node_modules
cloud_functions/functions/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
www/build
cloud_functions/functions/lib


# cloud function config
cloud_functions/functions/src/functionConfig.ts

cloud_functions/functions/firebase-credentials.json

# misc
.DS_Store
.env*
!.env.example
!*.enc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

*.firebaserc


# Accidental package installs to root directories
/yarn.lock
/package.json
package-lock.json
node_modules/

cloud_functions/functions/src/functionConfig.json
*.iml
.idea

*-firebase.json